.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url(./images/candy.svg);
    background-size: 220px;
    background-position: left center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-left: 250px;
    padding-bottom: 20px;
}

.candy {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200px;
    font-weight: 800;
    color: #e91e63;
    -webkit-text-stroke: 8px black;
}

.slogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-top: -44px;
    margin-left: 60px;
}
